<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.Mapper.UserMapper">
    <!--  查询  -->
    <select id="getUsers" resultMap="User">
        select
        u.id as id,
        u.username as username,
        u.createTime as createTime,
        u.`name` as `name`,
        u.password as password,
        u.mobile as mobile,
        u.email as email,
        r.`name` as role,
        r.id as rId,
        p.id as permission,
        p.`name` as permissionName
        from
        tb_user u
        LEFT JOIN user_role ur on u.id=ur.user_id
        LEFT JOIN tb_role r on r.id=ur.role_id
        LEFT JOIN role_permissions rp on r.id=rp.role_id
        LEFT JOIN tb_permissions p on p.id=rp.permission_id;
        <where>
            <if test="user.username!=null">
                username=#{user.username}
            </if>
            <if test="user.mobile!=null">
                and mobile = #{user.mobile}
            </if>
            <if test="user.email!=null">
                and email = #{user.email}
            </if>
        </where>
    </select>
    <resultMap id="User" type="com.boot.pojo.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="mobile" column="mobile"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="createTime" column="createTime"/>
        <result property="username" column="username"/>
        <collection property="roles" ofType="com.boot.pojo.Role">
            <id property="id" column="rId"/>
            <result property="name" column="role"/>
        </collection>
        <collection property="permissions" ofType="Integer">
            <id property="id" column="permission"/>
        </collection>
    </resultMap>
    <insert id="addUser" parameterType="com.boot.pojo.User">
        insert into tb_user (username
        <if test="user.password!=null">,password</if>
        <if test="user.mobile!=null">,mobile</if>
        <if test="user.email!=null">,email</if>
        <if test="user.createTime!=null">,createTime</if>
        <if test="user.name!=null">,name</if>)
        values ("${user.username}"
        <if test="user.password!=null">, "${user.password}"</if>
        <if test="user.mobile!=null">,"${user.mobile}"</if>
        <if test="user.email!=null">,"${user.email}"</if>
        <if test="user.createTime!=null">,"${user.createTime}"</if>
        <if test="user.name!=null">,"${user.name}"</if>)
    </insert>
    <delete id="delAccount" parameterType="int">
        delete
        from tb_account
        where id = #{id}
    </delete>
    <update id="updateAccount" parameterType="com.boot.pojo.Account">
        update tb_account
        <set>
            <if test="user.password1!=null">
                password1= "${user.password1}",
            </if>
            <if test="user.password2!=null">
                password2="${user.password2}",
            </if>
            <if test="user.platform!=null">
                platform="${user.platform}",
            </if>
        </set>
        where id = "${user.id}"
    </update>
</mapper>